<script src="https://utteranc.es/client.js"
        repo="eriveradelgado/personal-site"
        issue-term="title"
        label="blog-comment"
        theme="boxy-light"
        crossorigin="anonymous"
        async>
</script>
<script src="//yihui.name/js/math-code.js"></script>
<script async src="//mathjax.rstudio.com/latest/MathJax.js?config=TeX-MML-AM_CHTML"></script>
{{ template "_internal/google_analytics.html" . }}

<script async src="//yihui.name/js/center-img.js"></script>
<script src="https://kit.fontawesome.com/2845804709.js" crossorigin="anonymous"></script>
<link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.0.1/styles/base16/papercolor-light.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.0.1/highlight.min.js"></script>
<script src="//cdn1s.cloudflare.com/ajax/libs/highlight.js/11.0.2/languages/r.min.js"></script>
<script>
hljs.configure({languages: []});
hljs.initHighlightingOnLoad();
</script>
