<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    <link rel="stylesheet" href="{{ "/css/style.css" | relURL }}" />
    <link rel="stylesheet" href="{{ "/css/fonts.css" | relURL }}" />
    <link rel="preconnect" href="https://fonts.gstatic.com" /> 
    <link rel="preconnect" href="https://fonts.gstatic.com" /> 
    <link rel="preconnect" href="https://fonts.gstatic.com" /> 
    <link href="https://fonts.googleapis.com/css2?family=Jost" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/2845804709.js" crossorigin="anonymous"></script>
    {{ partial "head_custom.html" . }}
  </head>

  <body>
    <nav>
    <ul class="menu">
      {{ range .Site.Menus.main }}
      <li><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
      {{ end }}
    </ul>
    <hr class="hrtop"hr/>
    </nav>
